body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    width: 900px;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container {
    text-align: center;
}

.form-container h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.form-container p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1.5rem;
}

button {
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.code-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.code-inputs input[type="text"] {
    width: 50px; 
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.code-inputs input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.resend-button {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.7rem;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.resend-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#timer {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #666;
}
